
body {
  margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right,#003366,#00ccff);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Bebas Neue', cursive;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Outfit', sans-serif;
  align-content: center;  
  position: relative;
  top: 75px;
  font-size: 50px;
}

#btn1{
  border:20px solid black;
  padding-left: 10px;
  position: relative;
  margin-right: 50px;
  margin-top: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-color: blue;
}

#q{
  margin-right: 300px;
  margin-left: 300px;
  border-radius: 25px;
}

#w{
  margin-left: 300px;
}

#e{
  margin-left: 50px;
}

#btn2{
  border:2px solid black;
  color: black;
  padding-left: 10px;
  position: relative;
  margin-left: 30px;
  margin-top: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}
.todo{
  font-size: 30px;
}
#info
{
  font-size: 25px;
}
.delete-icon
{
  font-size: 30px;
}
#icon2
{
  font-size: 30px;
}

#frame
{
  width: 500px;
  height: 300px;
  margin-bottom: 10em;
}
#f1
{
  width: 500px;
  height: 300px;
  margin-left: 18em;
  margin-bottom: 8em;
}